*{
    margin: 0;
    box-sizing: border-box;
}

.h1-forms{
    font-family: 'Baloo 2', cursive;
    background-color: plum;
    font-weight: bold;
    font-size: 1.5rem;
    margin-right: 47.5rem;
    border-radius: 0.5rem;
    text-align: center;
    margin-top: 1rem;
}
.div-forms{
    background-color: powderblue;
    font-family: 'Staatliches', cursive;
    font-size: 1rem;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
}


.espacio-botones{
    margin-right: 1.5rem;
    margin-top: 2rem;
}